<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ошибка: {{ status_code }} {{ status_text }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<style>
    body {
        background-image: url({{ asset('img/bg2.png') }});
        background-repeat: no-repeat;
        background-color: #bae4da;
    }
</style>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 col-sm-12">
        <img src="{{ asset('img/err.png') }}" class="img-responsive center-block"
             style="margin-top: 40px; max-width: 200px">
    </div>
    <div class="col-md-5 err">
    </div>
    <div class="col-md-2"></div>
</div>

</body>
</html>
