{% extends "AdventureTimeBundle::layout.html.twig" %}
{% block content %}
<h1>Тест</h1>

<div id="test"></div>
    <button class="btn" id="next">Next</button>

{% endblock %}

{% block js %}

{% endblock %}
