{% extends "layout.html.twig" %}
{% block content %}
{% for personage in personages %}
    <a href="/characters/{{ personage.slug }}.html" >
        <img src="/img/characters/{{  personage.slug ~ '.png' }}"
             class="img-responsive" style="max-width: 200px; float: left"></a>
{% endfor %}

{% endblock %}
