h3
{
    color: #333745;
}

#welcome
{
    font-size: 7em;
}

#party-on-tree
{
    /*font-family: AvenirNext;*/
    font-size: 3.5em;
}

body
{
background-color: #bae4da;
}

.nav h3:hover
{
    color: #ffffff;
}

.nav .active
{
    color: #ffffff;
}

.err .code
{
    font-size: 10em;
}

.err .message
{
    font-size: 3em;
}