<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Party on the tree</title>
    <link rel='stylesheet' href="{{ asset("css/bootstrap.min.css") }}" type='text/css' media='all'>
    <link rel='stylesheet' href="{{ asset("css/style.css") }}" type='text/css' media='all'>
</head>
<body>
{% block content %}
{% endblock %}
{% block js %}
{% endblock %}
</body>
</html>
