{% extends "AdventureTimeBundle:Security:layout.html.twig" %}
{% block content %}
    <form action="{{ url('login_check') }}" method="POST">

        <input type="text" id="username" name="{{ constant('AdventureTimeBundle\\Constants::WSSE_NAME') }}"
               value="{{ last_username }}" placeholder="email" required="true"/>

        <input type="password" id="password" name="{{ constant('AdventureTimeBundle\\Constants::WSSE_PASS') }}"
               placeholder="password" required="true"/>
        <input type="submit" name="login" value="Войти"/>
        {% if error == 'true' %}
            неверный логин или пароль
        {% endif %}
    </form>
{% endblock %}